@import 'libs/css/params';

.button {
  background-color: $primary-color;
  border: none;
  height: 56px;
  line-height: 50px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  width: auto;
  line-height: 1.5;
  min-width: 184px;
}

.button.--blue {
  background-color: $blue-color;
}

.button.--stretch {
  width: 100%;
}
