:global {
  .select-container {

    .select__control {
      border: 2px solid #A8ADAF;
      min-height: 54px;
    }

    .select__value-container {
      font-size: 18px;
      padding-left: 20px;
    }

    .select__indicators {
      .select__indicator-separator {
        display: none;
      }
    }

    .select__placeholder {
      margin: 0;
      color: rgba(38, 50, 56, 0.4);
    }

    .select__menu {
      z-index: 10;
    }
  }
}

.select-wrap {
  position: relative;

  .error {
    position: absolute;
    width: 272px;
    right: -316px;
    top: -8px;
  }
}
