:global {
  .dropdown-menu {
    position: absolute;
    width: 168px;
    background: white;
    box-shadow: 2px 0px 16px rgba(0, 0, 0, 0.08);
    width: 222px;
    padding: 12px 0;
    border-radius: 4px;

    &::before {
      content: '';
      width: 28px;
      height: 8px;
      display: block;
      position: absolute;
      background-image: url('/img/modal-tail-white.svg');
      top: -8px;
      right: 40px;
    }

    .dropdown-menu__item {
      padding: 12px 36px;
      font-weight: bold;
      font-size: 18px;
      display: block;
      color: inherit;

      &:hover {
        background-color: rgba(3, 169, 244, 0.08);
      }
    }
  }
}
