@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@include font-face('Gotham Rounded', '/fonts/gotham-rounded/GothamRounded-Bold', bold, null, otf ttf);
@include font-face('Arial Rounded', '/fonts/ArialRoundedMTProCyr-Bold', bold, null, otf);

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans'),
       local('NotoSans'),
       url('/fonts/noto-sans/notosans.woff2') format('woff2'),
       url('/fonts/noto-sans/notosans.woff') format('woff'),
       url('/fonts/noto-sans/notosans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Italic'),
       local('NotoSans-Italic'),
       url('/fonts/noto-sans/notosansitalic.woff2') format('woff2'),
       url('/fonts/noto-sans/notosansitalic.woff') format('woff'),
       url('/fonts/noto-sans/notosansitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Bold'),
       local('NotoSans-Bold'),
       url('/fonts/noto-sans/notosansbold.woff2') format('woff2'),
       url('/fonts/noto-sans/notosansbold.woff') format('woff'),
       url('/fonts/noto-sans/notosansbold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Bold Italic'),
       local('NotoSans-BoldItalic'),
       url('/fonts/noto-sans/notosansbolditalic.woff2') format('woff2'),
       url('/fonts/noto-sans/notosansbolditalic.woff') format('woff'),
       url('/fonts/noto-sans/notosansbolditalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
