:global {
  h1, .h1-like {
    font-size: 48px;
    line-height: 60px;
    font-weight: bold;
  }

  h2, .h2-like {
    font-size: 32px;
    line-height: 44px;
    font-weight: bold;
  }

  h3, .h3-like {
    font-size: 24px;
    font-weight: bold;
  }

  h4, .h4-like {
    font-size: 18px;
    line-height: 24px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    color: $primary-text-color;
  }

  strong, b {
    font-weight: bold;
  }

  span {
    font-size: inherit;
    line-height: inherit;
  }

  a, .a-like {
    color: $primary-color;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $primary-color-accent;
    }
  }

  .center {
    text-align: center;
  }
}
