:global {
  .units-control {
    .units-control__title {
      @extend .h3-like;
      font-weight: normal;
    }

    .units-control__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 28px;
    }

    .units-control__stat {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 38px;
      padding-bottom: 36px;
      border-radius: 4px;
      // border: 4px solid $border-gray-light-color;
      background-color: #F0FAFE;
      margin-bottom: 40px;
      margin-top: 22px;

      .units-control__stat-item {
        text-align: center;
      }

      .units-control__stat-item p:first-child {
        font-size: 32px;
        color: rgba(38, 50, 56, 0.76);
        font-weight: bold;
        font-family: $font-2;
        line-height: 40px;
        margin-bottom: 10px;
      }

      .units-control__stat-item p:first-child + p {
        color: $gray-text-color;
      }
    }

    .units-control__body {

    }

    .units-control__footer {
      padding-top: 36px;
    }

    .units-control__small-title {
      color: $gray-text-color;
      text-transform: uppercase;
    }
  }// .units-control
}
