:global {
  .units-table-wrap {
    .units-table-wrap__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 32px;
    }

    .units-table-wrap__footer {
      padding-top: 32px;
    }
  }

  .units-table {
    width: 100%;

    th {
      padding: 16px 16px 16px 0;
      background-color: #F9F9F9;
      text-align: left;
      font-size: 14px;
      line-height: 20px;
      color: $gray-text-color;
      white-space: nowrap;
      vertical-align: middle;
    }

    th:first-child {
      padding-left: 16px;
    }

    td {
      padding: 20px 16px 20px 0px;
    }

    td:first-child {
      padding-left: 16px;
    }

    td.units-table__item-line {
      padding: 0;
      border-bottom: 1px solid $border-gray-color;
    }

    th.--sortable {
      cursor: pointer;

      .units-table__arrow-up {
        display: inline-block;
        width: 8px;
        height: 12px;
        background-image: url('/img/arrow-up.svg');
        margin-left: 1px;
      }

      .units-table__arrow-down {
        display: inline-block;
        width: 8px;
        height: 12px;
        background-image: url('/img/arrow-down.svg');
        margin-left: 6px;
        position: relative;
        top: 1px;
      }
    }

    td.units-table__item-total {
      color: $gray-text-color;
      padding: 0;

      > div {
        padding: 12px 19px 12px 24px;
        background-color: rgba(#B4B7B9, 0.08);
        font-size: 12px;
        line-height: 20px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
      }

      > div span.units-table__item-total-title {
        color: $primary-text-color;
        font-weight: bold;
        margin-right: 4px;
        font-size: 14px;
        margin-left: 0;
      }

      >
      div p {
        display: flex;
        flex-wrap: wrap;
      }

      > div span {
        margin-left: 28px;
        white-space: nowrap;
        color: $gray-text-color;
      }

      > div span::last-child {
        margin-right: 0;
      }
    }

    .units-table__item-title {
      @extend .h4-like;
      font-weight: bold;
      color: $primary-color;
      margin-bottom: 12px;
    }

    .units-table__item-descr {
      color: $gray-text-color;
      margin-bottom: 4px;
    }

    .units-table__item-url {
      margin-bottom: 12px;
    }

    .units-table__item-tags {

      span {
        display: inline-block;
        padding: 8px 12px 6px;
        background-color: rgba(#B4B7B9, 0.08);
        color: $gray-text-color;
        cursor: pointer;
      }
    }

    th.units-table__item-status-col, td.units-table__item-status-col {
      width: 1%;
      padding-right: 0;
    }

    .units-table__item-status {
      display: inline-block;
      text-align: center;
      padding: 8px 5px;
      width: 98px;
      cursor: pointer;
      line-height: 20px;
      border-radius: 6px;
    }

    .units-table__item-status.--green {
      background-color: $status-ok-background-color;
      color: $status-ok-text-color;
    }

    .units-table__item-status.--gray {
      background-color: $status-gray-background-color;
      color: $status-gray-text-color;
    }

     th.units-table__item-settings-col, td.units-table__item-settings-col {
      padding-left: 5%;
      padding-right: 0;
      vertical-align: middle;

      &:last-child {
        padding-right: 16px;
      }

      > div {
        white-space: nowrap;
      }

      > div button + button {
        margin-left: 20px;
      }
    }
  }
}
