@import './params.scss';
@import './_reset.scss';
@import './_typography.scss';
@import './_fonts.scss';
@import './_dropdown-menu.scss';
@import './_units-control.scss';
@import './_units-table.scss';

:global {
  body {
    font-family: $font-1;
    color: $primary-text-color;

    * {
      box-sizing: border-box;
    }
  }
}
