$primary-color: #03A9F4;
$primary-color-accent: #26cdff;
$blue-color: #4463BB;
$account-layout-bg-color: #F0F4F7;
$primary-text-color: #263238;
$gray-text-color: #92989B;
$border-gray-color: #D8DFE3;
$border-gray-light-color: #F0F4F7;
// $account-sidebar-container-width: 263px;

$status-ok-background-color: rgba(72, 238, 80, 0.21);
$status-ok-text-color: #92989B;
$status-gray-background-color: rgba(140, 140, 140, 0.21);
$status-gray-text-color: #92989B;

$font-1: "Noto Sans";
$font-2: "Gotham Rounded", "Arial Rounded";
