@import 'libs/css/params';

.balance {
  height: 56px;
  display: flex;
  position: relative;

  .balance-inner {
    display: flex;
    height: 100%;
    align-items: center;
    background: white;
    border-radius: 4px;
    margin-right: 12px;
    cursor: pointer;
    border: 1px solid white;
    padding: {
      left: 24px;
      right: 15px;
    }

    &:hover {
      border-color: $primary-color;
    }

    .sum {
      margin-right: 8px;
      font-weight: bold;
      font-size: 18px;
      font-family: $font-2;
      position: relative;
      top: 2px;
    }

    .currency {
      font-size: 14px;
      line-height: 14px;
      border-bottom: 1px dashed $primary-color;
      margin-right: 12px;
    }

    .v {
      width: 10px;
      height: 6px;

      svg {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

  }

  .deposit-button {
    height: 100%;
    background: white;
    border-radius: 4px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid white;

    &:hover {
      border-color: $primary-color;
    }

    svg {
      position: relative;
      left: 2px;
    }
  }

  .menu {
    right: 68px;
    width: auto;
    min-width: 197px;
    top: 70px;

    &::before {
      left: calc(50% - 14px);
    }
  }
}
