.textarea {
  position: relative;

  .wrap {
    position: relative;
    height: 84px;
    border: 2px solid #A8ADAF;
    border-radius: 4px;
    background-color: white;
  }

  textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    border: none;
    font-size: 18px;
    line-height: 24px;
    position: relative;
    z-index: 1;
    background-color: transparent;
    padding:{
      top: 20px;
      left: 22px;
      right: 22px;
    };

    &:focus {
      ~ label span {
        font-size: 12px;
        top: 6px;
        line-height: 17px;
      }
    }
  }

  label {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    span {
      position: relative;
      font-size: 18px;
      left: 22px;
      top: 12px;
      display: inline-block;
      line-height: 24px;
      color: rgba(38, 50, 56, 0.4);
    }
  }

  .error {
    position: absolute;
    width: 272px;
    right: -316px;
    top: -8px;
  }
}

.textarea.--not-empty {
  label {
    span {
      font-size: 12px;
      top: 6px;
      line-height: 17px;
    }
  }
}
