@import 'libs/css/params';

.notifications {
  font-size: 0;
  position: relative;

  .bell {
    cursor: pointer;

    &:hover {
      svg {
        path {
          fill: $primary-color;
        }
      }
    }
  }

  .list {
    width: 432px;
    background: white;
    position: absolute;
    right: -128px;
    top: 54px;
    box-shadow: 2px 0px 16px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 28px 28px 32px;

    &::before {
      content: '';
      width: 28px;
      height: 8px;
      display: block;
      position: absolute;
      background-image: url('/img/modal-tail-white.svg');
      top: -8px;
      right: 127px;
    }

    .list-title {
      margin-bottom: 15px;
      line-height: 32px;
    }

    .list-close {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 32px;
      right: 28px;
      background-image: url(/img/close.svg);
      cursor: pointer;
    }

    .list-all {
      font-weight: bold;
      margin-bottom: 28px;
    }

    .list-show-more {
      color: $primary-color;
      margin-top: 24px;

      span {
        cursor: pointer;
      }
    }

    .item {
      border-top: 1px solid $border-gray-color;
      padding-top: 15px;

      .item-text {
        margin-bottom: 12px;
      }
    }

    .item + .item {
      margin-top: 15px;
    }

    .item-block {
      .item-block-title {
        color: $gray-text-color;
        text-transform: uppercase;
        margin-bottom: 16px;
      }

      .item-date {
        color: $gray-text-color;
      }
    }

    .item-block + .item-block {
      margin-top: 48px;
    }
  }
}
