@import 'libs/css/params';

.help {
  font-size: 0;
  position: relative;

  .help-ico {
    cursor: pointer;

    &:hover {
      svg path {
        fill: $primary-color;
      }
    }
  }

  .menu {
    left: -96px;
    width: auto;
    min-width: 222px;
    top: 51px;

    &::before {
      left: calc(50% - 14px);
    }
  }
}
