@import 'libs/css/params';

.header {
  height: 100%;
  display: flex;
  align-items: center;

  .logo {
    font-size: 0;
  }

  .controls {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .balance-wrap {
      margin-right: 89px;
    }

    .notifications-wrap {
      margin-right: 39px;
    }

    .help-wrap {
      margin-right: 55px;
    }
  }

}

// .header {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//
//   .user {
//     display: flex;
//     align-items: center;
//
//     .user-pic {
//       width: 51px;
//       height: 51px;
//       border-radius: 50%;
//       overflow: hidden;
//
//       img, svg {
//         width: 100%;
//         height: 100%;
//       }
//     }
//
//     .user-name {
//       font-size: 18px;
//       line-height: 24px;
//       padding-left: 20px;
//     }
//   }
//
//   .nav {
//     li {
//       font-size: 18px;
//       line-height: 24px;
//       font-weight: bold;
//       color: $primary-text-color;
//       float: left;
//     }
//
//     li + li {
//       margin-left: 32px;
//     }
//
//     a {
//       color: inherit;
//     }
//   }
// }
