@import 'libs/css/params';

.user-menu {
  position: relative;

  .user-name {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }

    span {
      position: relative;
      bottom: 2px;
      margin-left: 9px;
    }
  }

  .menu {
    right: 0;
    top: 40px;
  }
}
