.special-button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  padding: 0;
  font-size: 0;


  &.show-more {
    font-size: 14px;
    display: flex;
    align-items: center;

    &.--active image {

    }
  }
}
