.campaigns-block {
  .create-campaign-button {
    min-width: 252px;
  }

  th.main-col, td.main-col  {
    width: 25%;
    padding-right: 6%;
  }

  td.total-col {
    width: 60%;
  }

  th.status-col {
    width: 9%;
    text-align: center;
  }
}
