.overlay {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
}

.content {
  display: block;
  outline: none;
}

:global {
  body.ReactModal__Body--open {
    overflow: hidden;
  }

  .popup {
    width: 550px;
    background: white;
    margin: 0 auto;
    margin-top: 109px;
    margin-bottom: 109px;
    position: relative;
  }

  .popup-title {
    font-size: 32px;
    line-height: 44px;
    font-weight: bold;
    color: black;
    padding: {
      top: 36px;
      left: 48px;
      right: 90px;
    }
  }

  .popup-body {
    padding: 28px 70px 40px;
  }

  .popup-close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 46px;
    right: 48px;
    background-image: url('/img/close.svg');
    cursor: pointer;
  }
}
