.events {
  .head {
    margin-bottom: 20px;

    .title {
      line-height: 33px;
    }
  }


  .body {
    padding: 0 12px;
    margin-bottom: 30px;

    .item {
      background: #fafde1;
      border-radius: 4px;
      border: 1px solid #f8f2c9;
      padding: 14px;

      pre {
        color: #ad8b44;
        font-size: 13px;
        line-height: 1.5;
        white-space: pre-wrap;
      }
    }

    .item + .item {
      margin-top: 20px;
    }
  }


  .see-all {

  }

}
