@import 'libs/css/params.scss';

.menu-wrap {
  background: white;
  height: 100%;
  padding-bottom: 36px;
  width: 117px;
  box-shadow: 2px 0px 16px rgba(0, 0, 0, 0.08);
  padding-top: 44px;

  .burger {
    cursor: pointer;
    text-align: center;
    width: 40px;
    margin: 0 auto;

    &:hover {
      svg path {
        fill: $primary-color-accent;
      }
    }
  }

  .menu {
    padding-top: 44px;
  }

  .menu-item {
    display: flex;
    height: 76px;
    align-items: center;
    justify-content: center;
  }

  .menu-item.active {
    background-color: rgba(3, 169, 244, 0.08);
    position: relative;

    svg path {
      fill: $primary-color;
    }

    &::before {
      content: '';
      left: 0;
      top: 0;
      position: absolute;
      height: 100%;
      width: 4px;
      background-color: $primary-color;
    }
  }

  .menu-item:hover {
    background-color: rgba(3, 169, 244, 0.08);

    svg path {
      fill: $primary-color;
    }
  }
}
