.validation-error {
  color: #EF5350;
  height: 68px;
  box-shadow: 0px 2px 16px rgba(15, 35, 63, 0.12);
  border-radius: 4px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  position: relative;

  &::before {
    content: '';
    border: 8px solid transparent;
    border-right-color: white;
    position: absolute;
    top: 26px;
    left: -16px;
  }

  p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
