.input {
  z-index: 0;
  font-size: 0;
  position: relative;

  .wrap {
    border: 2px solid #A8ADAF;
    border-radius: 4px;
    background-color: white;
    height: 54px;
    position: relative;
  }

  input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none !important;
    border-radius: 4px;
    line-height: 24px;
    font-size: 18px;
    color: #263238;
    border: none;
    position: relative;
    z-index: 1;
    padding: 20px 22px 6px;

    &:focus {
      ~ label span {
        font-size: 12px;
        top: 6px;
        line-height: 17px;
      }
    }
  }

  label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  label span {
    font-size: 18px;
    color: rgba(38,50,56,0.4);
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    left: 22px;
    top: 12px;
  }

  .error {
    position: absolute;
    width: 272px;
    right: -316px;
    top: -8px;
  }
}

.input.--not-empty {
  label span {
    font-size: 12px;
    top: 6px;
    line-height: 17px;
  }
}
