@import 'libs/css/params';

.deposit-funds {

  .deposit-address {
    margin-bottom: 50px;

    .deposit-address-title {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .deposit-address-select {
      margin-bottom: 10px;
    }

    .deposit-address-text {
      margin-bottom: 10px;

      span {
        cursor: pointer;
        border-bottom: 1px dashed $primary-text-color;
      }
    }

    .terms-of-conditions {
      color: $gray-text-color;
      font-style: italic;
      margin-bottom: 30px;
    }

    .deposit-address-qr-code-wrap {
      text-align: center;
    }

  }

  .solutions {
    p {
      line-height: 24px;
    }

    p + p {
      margin-top: 20px;
    }

    a {
      text-decoration: underline;
    }
  }
}
