.checkbox {
  position: relative;
  padding-left: 16px;

  .wrap {
    input {
      display: none;

      &:checked {
        ~ label .icon-wrap {
          .icon-active {
            display: block;
          }

          .icon-inactive {
            display: none;
          }
        }
      }
    }

    label {
      display: flex;
      flex-direction: row;
      margin: 0;
    }

    .icon-wrap {
      min-width: 24px;
      width: 24px;
      height: 24px;
      background-size: cover;
      margin-top: 2px;

      svg {
        width: 100%;
      }

      .icon-active {
        display: none;
      }
    }

    .text {
      font-size: 18px;
      line-height: 26px;
      padding-left: 11px;
    }
  }

  .error {
    position: absolute;
    width: 272px;
    right: -316px;
    top: -21px;
  }
}
