@import 'libs/css/params';

.withdraw-funds {
  .withdraw-address-sign {
    margin-bottom: 16px;
  }

  .container {
    width: 368px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }

  .withdraw-address {
    color: $primary-color;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .withdraw-all {
    margin-bottom: 20px;
  }

  .change-withdraw-address {
    text-align: center;

    span {
      color: $primary-color;
      font-weight: bold;
      cursor: pointer;

    }
  }
}
