@import 'libs/css/params.scss';

.layout {
  min-height: 100vh;
  background-color: $account-layout-bg-color;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .sidebar-wrap {
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 0;
  }

  .main {
    margin-left: 36px;
    margin-right: 36px;
    flex-basis: 1250px;
    flex-shrink: 1;
    flex-grow: 0;
  }

  .header-wrap {
    height: 112px;
  }

  .content-wrap {
    background: white;
    border-radius: 4px;
    padding: 42px 46px;
  }
}
