@import "libs/css/params";

:global {
  .form-wrapper {
    background-color: #F2F5F7;
    padding: 54px 0 97px;

    .form-inner {
      width: 677px;
      padding: 30px;
      border-radius: 6px;
      background-color: white;
      margin: 0 auto;
    }

    .form-title {
      margin-bottom: 18px;
      font-family: $font-2;
    }

    .form-subtitle {
      line-height: 32px;
      color: rgba(0,0,0,0.4);
      margin-bottom: 18px;
    }

    .form-field {
      margin-bottom: 29px;
    }
  }
}
